$primary: rgb(93, 38, 204);
$primary-dark: rgb(49, 16, 119);

$grey: rgb(246, 248, 250);

$green: rgb(90, 190, 111);
$blue: rgb(41, 107, 225);
$orange: rgb(243, 170, 60);
$cyan: rgb(98, 213, 210);
$pink: rgb(234, 54, 138);

$white: white;
$black: black;
$dark: #343434;
