@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;0,900;1,300;1,700&display=swap");
@import "./shared/color.scss";

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-top: 5rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: $blue;
  text-decoration: none;

  transition: color 0.2s ease-out;
  &:hover {
    color: darken($blue, 25%);
  }
}

pre {
  background: #272822;
  color: $green;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

strong {
  font-weight: 700;
}
